In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
MigrationUSData=pd.read_csv("../USMigrationCountryWiseCSE.csv")
MigrationUSData=MigrationUSData[:].loc[MigrationUSData["Country"]!='United States']
MigrationUSData["Country"].loc[MigrationUSData["Country"]=='North and South Korea']='North Korea'
MigrationUSData

,Detailed occupation,Country of residence,Value,Country
0,Computer and mathematical science occupations,United States,429,Algeria
1,Computer and mathematical science occupations,United States,535,Cameroon
2,Computer and mathematical science occupations,United States,130,Cape Verde
3,Computer and mathematical science occupations,United States,2096,Egypt
4,Computer and mathematical science occupations,United States,225,Eritrea
5,Computer and mathematical science occupations,United States,1399,Ethiopia
6,Computer and mathematical science occupations,United States,1545,Ghana
7,Computer and mathematical science occupations,United States,1626,Kenya
8,Computer and mathematical science occupations,United States,666,Liberia
9,Computer and mathematical science occupations,United States,1105,Morocco
10,Computer and mathematical science occupations,United States,3541,Nigeria
11,Computer and mathematical science occupations,United States,260,Sierra Leone
12,Computer and mathematical science occupations,United States,400,Somalia
13,Computer and mathematical science occupations,United States,2824,South Africa
14,Computer and mathematical science occupations,United States,133,Senegal
15,Computer and mathematical science occupations,United States,313,Sudan
16,Computer and mathematical science occupations,United States,562,Uganda
17,Computer and mathematical science occupations,United States,482,Tanzania
18,Computer and mathematical science occupations,United States,419,Zimbabwe
19,Computer and mathematical science occupations,United States,29123,Vietnam
20,Computer and mathematical science occupations,United States,182,Yemen
21,Computer and mathematical science occupations,United States,798,Uzbekistan
22,Computer and mathematical science occupations,United States,1323,Sri Lanka
23,Computer and mathematical science occupations,United States,673,Syria
24,Computer and mathematical science occupations,United States,3039,Thailand
25,Computer and mathematical science occupations,United States,3149,South Korea
26,Computer and mathematical science occupations,United States,1157,Singapore
27,Computer and mathematical science occupations,United States,587,Saudi Arabia
28,Computer and mathematical science occupations,United States,12121,North Korea
29,Computer and mathematical science occupations,United States,8600,Pakistan
...,...,...,...,...
94,Computer and mathematical science occupations,United States,2812,Venezuela
95,Computer and mathematical science occupations,United States,2337,Panama
96,Computer and mathematical science occupations,United States,175,Paraguay
97,Computer and mathematical science occupations,United States,3637,Peru
98,Computer and mathematical science occupations,United States,8241,Puerto Rico
99,Computer and mathematical science occupations,United States,200,Saint Lucia
100,Computer and mathematical science occupations,United States,2343,Trinidad and Tobago
101,Computer and mathematical science occupations,United States,313,Uruguay
102,Computer and mathematical science occupations,United States,1893,Guatemala
103,Computer and mathematical science occupations,United States,959,Honduras
104,Computer and mathematical science occupations,United States,6271,Jamaica
105,Computer and mathematical science occupations,United States,249,Grenada
106,Computer and mathematical science occupations,United States,2473,Guyana
107,Computer and mathematical science occupations,United States,2540,Haiti
108,Computer and mathematical science occupations,United States,15444,Mexico
109,Computer and mathematical science occupations,United States,1307,Nicaragua
110,Computer and mathematical science occupations,United States,726,Costa Rica
111,Computer and mathematical science occupations,United States,5009,Colombia
112,Computer and mathematical science occupations,United States,5597,Cuba
113,Computer and mathematical science occupations,United States,1098,Chile
114,Computer and mathematical science occupations,United States,169,Dominica
115,Computer and mathematical science occupations,United States,2735,Dominican Republic
116,Computer and mathematical science occupations,United States,2005,Ecuador
117,Computer and mathematical science occupations,United States,1970,Argentina
118,Computer and mathematical science occupations,United States,627,Bolivia
119,Computer and mathematical science occupations,United States,3891,Brazil
120,Computer and mathematical science occupations,United States,345,Belize
121,Computer and mathematical science occupations,United States,250,Bermuda
122,Computer and mathematical science occupations,United States,699,Barbados
123,Computer and mathematical science occupations,United States,271,Bahamas

In [3]:
Locations=MigrationUSData.to_dict()["Country"]
Value=MigrationUSData.to_dict()["Value"]

In [4]:
CountryList=list(Locations.values())
CountryValues=list(Value.values())

In [5]:
import numpy as np
import pycountry
from geotext import GeoText

keys=pd.read_csv("../KeyCountry.csv")
def GetKeys(CountryList):
    KeyList=([])
    for text in CountryList:
        places = GeoText(text)
        
        if len(places.country_mentions)>0:
            CountryCode=list(places.country_mentions.keys())
            Country = pycountry.countries.get(alpha_2=CountryCode[0])
            KeyList=np.append(KeyList,Country.alpha_3)
    return KeyList

In [6]:
trial=GetKeys(CountryList)
trial.size

123

In [7]:
import plotly.plotly as py
dataUS = [ dict(
        type = 'choropleth',
        locations = trial,
        z = CountryValues,
        text = CountryList,
       # colorscale = [[0,"rgb(5, 10, 172)"],[0.35,"rgb(40, 60, 190)"],[0.5,"rgb(70, 100, 245)"],\
           # [0.6,"rgb(90, 120, 245)"],[0.7,"rgb(106, 137, 247)"],[1,"rgb(220, 220, 220)"]],
        autocolorscale = True,
        reversescale = False,
        marker = dict(
            line = dict (
                color = 'rgb(180,180,180)',
                width = 0.5
            ) ),
        colorbar = dict(
            autotick = False,
            tickprefix = '',
            title = 'Users'),
      ) ]

layoutUS = dict(
    title = 'Heat Map of Migration to US',
    geo = dict(
        showframe = False,
        showcoastlines = False,
        projection = dict(
            type = 'Mercator'
        )
    )
)

fig = dict( data=dataUS, layout=layoutUS )
py.iplot( fig, validate=False, filename='d3world-map' )

# Knowledge Transfer in StackOverflow

## Why Should Anyone Care ?
* Influence to job market

## Research Question
* Knowledge Transfer and Migration of Skilled Labor

## Data Source
* StackOverflow Data Dump
* OECD Migration Data for USA

## Data Analysis
* Modelling Experts
* Mapping of Questions and Answers

In [ ]:
## Some Visualisation